<md-card>
  <form novalidate [formGroup]="form" (submit)="onSubmit()">
    <div formGroupName="project">

      <md-input name="title" placeholder="Title" formControlName="title">
        <md-hint>Title must be at least 3 chars long</md-hint>
      </md-input>
      <md-textarea name="notes" placeholder="Notes" formControlName="notes"></md-textarea>
    </div>
    <md-card-actions align="end">
      <button md-button type="submit" [disabled]="form.invalid">Create</button>
    </md-card-actions>
  </form>
  <md-card-content>{{form.get('project').errors | json}}</md-card-content>
</md-card>
