/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/core/theming/prebuilt/deeppurple-amber.css";

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

md-input, md-textarea {
  width: 100%;
}

md-sidenav-layout {
  min-height: 500px;
}
